<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="article, loop : ${articlePage}">
            <th scope="row" th:text="${loop.count}"></th>
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:if="${article.writer != null}" th:text="${article.writer.nickname}"></td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" th:if="${!articlePage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!articlePage.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${articlePage.number-1}|}">Previous</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(0, articlePage.totalPages-1)}"
                th:if="${articlePage.number+5 >= page and articlePage.number-5 <= page}">
                <a class="page-link" th:classappend="${page == articlePage.number} ? 'active'"
                   th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
            </li>
            <li class="page-item" th:classappend="${!articlePage.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${articlePage.number+1}|}">Next</a>
            </li>
        </ul>
    </nav>
    <a class="btn btn-primary" th:href="@{/article/create}">등록하기</a>
</div>
</html>