<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="card">
        <div class="card-header">
            <h2 th:text="${article.title}"></h2>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p th:text="${article.content}"></p>
                <span class="badge rounded-pill text-bg-light" th:if="${article.modifyDate != null}">
                    <div>modified at</div>
                    <div th:text="${#temporals.format(article.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </span>
                <span class="badge rounded-pill text-bg-light">
                    <div th:text="${article.writer.nickname}"></div>
                    <div th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </span>
            </blockquote>
        </div>
        <div class="card-footer"
             th:if="${article.writer != null and article.writer.username == #authentication.getPrincipal().getUsername()}"
             sec:authorize="isAuthenticated()">
            <a class="btn btn-outline-secondary" th:href="@{|/article/modify/${article.id}|}">수정</a>
            <a class="btn btn-outline-secondary" th:href="@{|/article/delete/${article.id}|}">삭제</a>
        </div>
    </div>
</div>
</html>